
<div class="container" (window:resize)="onResize($event)">
<!-- <iframe src="https://docs.google.com/document/d/e/2PACX-1vTEPhkit_ZWV1-G9w6oWZiiHeS7dLClEdX2iCES1xZ5rpx6Yh0DqMjrcFysobmXBxyuyVFpIri2xhE_/pub?embedded=true" width="80%" height="100%" style="position:absolute"  frameBorder="0"> </iframe> -->
</div>

<iframe id="full-screen-me" src="https://docs.google.com/document/d/e/2PACX-1vTEPhkit_ZWV1-G9w6oWZiiHeS7dLClEdX2iCES1xZ5rpx6Yh0DqMjrcFysobmXBxyuyVFpIri2xhE_/pub?embedded=true" style="position:absolute" height="2000px" width="100%" frameborder="0" wmode="transparent"></iframe>