
<div class="container navbar-fixed-top" style="height:70px;background:white; width:100%;padding-top:7px">
          
  <div style="padding-top:10px; font-size: x-large"><a routerLink="/" style="float:left;color:black; padding-left:5px;text-decoration: none;">
            David Langston
            </a>
  </div>
  <div class="pull-right">
    <div class="form-group" style="display:inline-flex; padding-right:5px">

      </div>

    <div class="dropdown" style="display:inline-flex;float:right; padding-top:5px">
      <a class="dropdown-toggle"
      role="button"
      data-toggle="dropdown">
      <span class="glyphicon glyphicon-menu-hamburger"></span></a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a routerLink="/about">about</a></li>
        <li><a routerLink="/contact">contact</a></li>
        <li><a href="https://github.com/DavidLangston" target="_blank">github</a></li>
        <li><a routerLink="/projects">projects</a></li>
        <li><a routerLink="/resume">r&#233;sum&#233;</a></li>
        <li class="divider"></li>
        <li><a routerLink="/">home</a></li>
      </ul>
    </div>

    <div style="display:inline-flex" class="cleardiv">
    </div>
    
    </div>
</div>
